:root{
    --main-bg-color: #151515;
    --main-font-color: #ff8c42;
    --second-font-color: #fff;
    /* background-color: var(--second-font-color); */
}

.dark-mode {
    --main-bg-color: #151515;
    --main-font-color: #ff8c42;
    --second-font-color: #fff;
  }
  
  .white-mode {
    --main-bg-color: #fff;
    --main-font-color: #ff5b00;
    --second-font-color: #7b3000;
  }
  .dark-cart-parent{
    width: 100%;
    height: 80vh;
    background-color: #000;
   }

   @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    
    animation: spin 25s linear infinite; /* animation-duration, timing-function, iteration-count, direction */
    margin-right: -20%;
}

.card {
        position: relative;
        top: 20px;
        width: 80%;
        margin: 100px auto;
        margin-bottom: 50px;
        background-color: #2F2F2F;
        border-radius: 25px;
        color: var(--second-font-color);
        display: flex;
        padding: 10px 0px 0 35px;
        align-content: space-around;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        overflow: hidden;
  
 }

.card .text{
    justify-content: space-between;
    gap: 30px;
}
.dark-mode.card{
    background-color:rgba(47, 47, 47, 1);
    margin: auto;
    top: 70px;
}
.card .text h1.Title{
    text-align: left;
    font-size: 39.5px;
  position: relative;
  top: 0;
  line-height: px;
 color: var(--second-font-color);
  font-family: Roboto;
    font-weight: 900;
}
.card .text h1 span{
    color: var(--main-font-color);
    font-weight: 400;
}
.card .text p{
    font-size: 16px;
    opacity: .9;
    width: 478px;
    line-height: 23.15px;
    color: rgba(255, 255, 255, 1);
    margin-block: 25px;
    font-weight: 400;
}
.card .text .card-btn{
    width: 201px;
    height: 60px;
    background-color: rgba(255, 153, 33, 1);
    color: #fff;
    font-size: 24px;
    border: none;
    font-weight: 700;
    line-height: 34.72px;
    margin-top: 15px;
    margin-left: 0px;
    border-radius: 15px;
    transition: .2s;
    cursor: pointer;
}
.card .text .card-btn:hover{
    box-shadow: 0 0 40px #ff8c42;
    transform: scale(1.1);

}
.dark-mode.card .text .card-btn{
    color: #000;
}
.card img{
    margin-top: -12px;
    border-radius: 25px;
}
@media screen and (max-width:756px) {
    .card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        width: 80%;
        height: auto;
        margin-top: 150px;
        padding-right: 20px;
        font-size: 18px;
        overflow: hidden;

    }
    .card .Title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
    .card .text {
        justify-content: space-between;
        gap: 10px;
       
    }
    .card .text h1.Title{
        font-size: 22px;
        line-height: 40px;
        font-weight: 900;
    }
    .card .text h1 span{
    font-weight: 350;
    }
    .card img{
        
       margin: 0px;
       margin-bottom: -60%;
       width: 400px;
       height: 400px;       
       align-items: center;
    }
    .card .text .card-btn{
        width: 185px;
        height: 40px;
        font-size: 18px;
     
     }
}