.section6{
    width: 100%;
    margin: auto;
    height: 95vh;
    background-image: url(../../images//background/section6\ bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 10px;
}
.content-section6{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.content-section6 h1{
    color: white;
    font-size: 42px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 67.5px;
    text-align: start;
width: 900px;
height: 176px;
margin-left: 150px;
margin-bottom: 100px;
}

@media screen and (max-width:768px) {
    .content-section6 h1{
        font-size: 30px;
        line-height: 57.5px;
    width: 437px;
    margin-left: 0px;
height: 120px;
    }
    .content-section6 p{
        width: 320px;
        height: 120px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        color: rgba(255, 254, 254, 1);
        margin-left: 10px;
    }
}