.slider{
  margin-top: 10px;
  width: 75%;
  margin: auto;
  position: relative;
}
/*  */
.slider-container-main .slick-prev::before{
  content: url(../../images/Group\ 34\ \(1\)\ -\ Copy.png);
  margin-left: -30px;

  
}
.slider-container-main .slick-next::before{
  content: url(../../images/Group\ 34\ \(1\).png );
  margin-left: -10px;
}
.slider-container-main .slick-next:hover::before{
  background-color: transparent;
}


.slider-container-main{
position: relative;
top: -150px;
width: 93%;
margin: auto;
/* background-color: red; */
}
@media screen and (max-width: 768px) {
  .slider-container-main .slick-next::before{
    content: url(../../images/Group\ 34\ \(1\).png );
  
    margin-left: -60px;
  }
  
}